# Docker compose automatically loads a .env file if it exists in the same directory as the compose file

# echo "AIRFLOW_UID=$(id -u)"
AIRFLOW_UID= 

# Airflow secrets
# Generate a new fernet key: python3 -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW__CORE__FERNET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx

# Generate keys
# python3 -c "import secrets, base64; print('secret_key:', secrets.token_urlsafe(32));
# print('internal_api_secret_key:', secrets.token_urlsafe(32));
# print('jwt_secret:', secrets.token_urlsafe(32));"

AIRFLOW__API__SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx
AIRFLOW__API_AUTH__JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxx
AIRFLOW__CORE__INTERNAL_API_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxx

# Airflow admin credentials
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Metabase postgres credentials
MB_DB_USER=metabase
MB_DB_PASS=metabase

# Postgres source credentials
POSTGRES_SOURCE_USER=airbyte
POSTGRS_SOURCE_PASSWORD=airbyte

# dbt
DREMIO_SPACE=nessie
DREMIO_SPACE_FOLDER=transformer
OBJECT_STORAGE_SOURCE=nessie
OBJECT_STORAGE_PATH=transformer
# UI credentials
DREMIO_USER=dremio 
DREMIO_PASSWORD=dremio
